@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Montserrat", sans-serif; */


    body header {
        display: flex;
        flex-direction: row;
        height: 100px;
        width: auto;
        padding-left: 200px;
        padding-right: 200px;
        justify-content: space-between;
        align-items: center;
        background-color: #eefbff;       
 }

    #nav-txt {
        display: flex;
        flex-direction: row;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        color: #2946a0;
        gap: 20px;
    }

    body header img {
        height: 50px;
    }

    /* Carrossel */

    .carousel {
        position: relative;
        width: 100%;
        max-width: 100%; /* Ajuste conforme necessário */
        max-height: 520px;
        margin: 0 auto;
        overflow: hidden;
    }
    
    .slide {
        display: none;
    }
    
    .slide img {
        width: 100%;
        height: auto;
    }
    
    .text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 24px;
        text-align: center;
    }
    
    .prev, .next {
        position: absolute;
        top: 50%;
        margin-left: 200px;
        margin-right: 200px;
        transform: translateY(-50%);
        padding: 10px 10px;
        font-size: 18px;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        height: 30px;
        
    }

    
    
    
    .prev {
        left: 10px;
    }
    
    .next {
        right: 10px;
    }
    
    
    